{
    "AWS_PROFILE": "default",
    "AWS_REGION": "us-west-1",
    "ENVIRONMENT": "dev",
    "FAUNA_API_KEY": "fnAFEvUZHlAARFqSR419TNAeSgocJ4f-cKALdLuV",
    "ALGOLIA_APP_ID": "L0OIIOSAEW",
    "ALGOLIA_API_KEY": "516c4f348a8faf05971699c614a2e272",
    "ALGOLIA_SEARCH_ONLY_KEY": "ae59fac53764e20b8af9aca3b4d06b20"
    "JWKS_URI": ""
}
