{
    "AWS_PROFILE": "default",
    "AWS_REGION": "us-east-1",
    "ENVIRONMENT": "soln",
    "FAUNA_API_KEY": "<secret>",
    "ALGOLIA_APP_ID": "<app_id>",
    "ALGOLIA_API_KEY": "<api_key>",
    "ALGOLIA_SEARCH_ONLY_KEY": "<search_only_key>",
    "JWKS_URI": "<Auth0_json_web_key_set>"
}